.logo{
    width: fit-content;
    height: 44px;
    margin: 0;
}

.navBar{
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    overflow: hidden;
}


.navLinks>*{
    margin-right: 40px;
}
.navLink{
    font-size: 1.25rem;
    color: black;
}




.navLink:hover,.navLink:active{
    text-decoration: underline;

}

@media screen and (max-width:800px) {
    
}